.ct-date-box{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct-slide-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: bisque;
}

.ct-slide-menu-box{
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    margin: 5px;
    background-color: #f9a462;
    padding: 5px;;
    display: block;
    font-size: 13px;
    border-radius: 5px;
}

.coffee-template{
    max-width: 1024px;
    min-height: calc(100vh - 124px);
    margin: auto;
    background-color: bisque;
}

.ct-daily-box{
    margin: 10px 0px;
    background-color: white;
}

.ct-daily-box-title{
    text-align: center;
    height: 40px;
    background-color: #74d1d2;
    color: white;
    padding-top: 5px;
}

.ct-daily-box-table{
    width: 100%;
}

.ct-daily-box-table th{
    text-align: center;
    border: 1px solid #74d1d2;
}

.ct-daily-box-table td{
    text-align: center;
    border: 1px solid #74d1d2;
}

.ct-total-box{
    background-color: white;
    margin-top: 10px;
}

.ct-total-box-table{
    width: 100%;
}

.ct-total-box-table th{
    text-align: center;
    background-color: #74d1d2;
    color: white;
    border: 1px solid #74d1d2;
}

.ct-total-box-table td{
    text-align: center;
    border: 1px solid #74d1d2;
}

@media (max-width: 720px){
    .ct-slide-menu-box{
        min-width: 40px;
    }
}

